<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static '/css/styles.css' %}">
</head>
<body>
{% block extrahead %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="{% static 'js/scripts.js' %}"></script>
{% endblock extrahead %}
<div class="container">
    <div class="container-search">
        <div class="main-input" id="main-input">
            <input id="find-city" oninput="searchCity(this.value)" placeholder="Full name" required=""/>
            <div id="Hints">
            </div>
        </div>
    </div>
    <div class="container-weather">
        <div id="WeatherNow">

            <div id="weather-0">
                <div id="for-today0">
                    <div id="Title-0"></div>
                    <div class="WeatherToday" id="WeatherToday-0">
                        <div class="temperature" id="temperature-0"></div>
                    </div>

                </div>
                <div id="in-ten-days-0">
                    <div id="container-days-0" class="container-days"></div>
                </div>

            </div>
            <div id="weather-1">
                <div id="for-today1">
                    <div id="Title-1"></div>
                    <div class="WeatherToday" id="WeatherToday-1">
                        <div class="temperature" id="temperature-1"></div>
                    </div>
                </div>
                <div id="in-ten-days-1">
                    <div id="container-days-1" class="container-days"></div>
                </div>
            </div>
            <div id="weather-2">
                <div id="for-today2">
                    <div id="Title-2"></div>
                    <div class="WeatherToday" id="WeatherToday-2">
                        <div class="temperature" id="temperature-2"></div>
                    </div>
                </div>
                <div id="in-ten-days-2">
                    <div id="container-days-2" class="container-days"></div>
                </div>
            </div>
        </div>
        <div id="WeatherPast">
        </div>
    </div>
</div>

</body>
</html>