<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static '/css/styles.css' %}">
</head>
<body>
{% block extrahead %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="{% static 'js/scripts.js' %}"></script>
{% endblock extrahead %}
<div class="container">
    <div class="container-search">
        <div class="main-input" id="main-input">
            <input id="find-city" oninput="searchCity(this.value)" placeholder="Full name" required=""/>
            <div id="Hints">


            </div>
        </div>
    </div>
</div>

</body>
</html>